include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t


mixin aside(second)
	aside
		+b.nav-chat
			ul
				li: a(href="#").btn.active
					img(src="img/svg/main.svg", alt="")
				li: a(href="#").btn  
					+e.counter 1
					img(src="img/svg/praga.png", alt="")
				li: a(href="#").btn
					img(src="img/svg/bgr.png", alt="")
				li: a(href="#" style="--bs-btn-bg:#6F64EC; --bs-btn-color: #fff; --bs-btn-hover-color: #fff; --bs-btn-hover-bg:#6F64EC").btn  С
				li: a(href="#").btn.btn-orange +
		+b.nav-main-wrap
			+b.nav-main
				if second
					ul
						mixin a2(i,t, dropDown, activeClasses, b)
							li
								+e.link(href="#")&attributes(attributes)
									+e.icon-wrap
										+icon(i)
									+e.text= t
										if b
											.badge.bg-success 99
									block
								if dropDown
									+e.ddgroup-wrap(class=`${activeClasses}`)
										a(href="#").active Список товаров
										a(href="#") Категории меню
										a(href="#") Добавить товар
									
						+a2('wallet',`Заказы`, false, '')
						+a2('training',`Клиенты`, false, '')
						+a2('chat', 'Сообщения','','','sds').active
							
						+a2('pizza', 'Меню товаров', true).--js
							+icon('chevron-down')
						+a2('growth',`Статистика`, false, '')
						+a2('tg', 'Рассылки', true, '').--js
							+icon('chevron-down')
						+a2('setting', 'Настройки', true, '').--js
							+icon('chevron-down')
						+a2('rocket',`Продвижение`, false, '')
					+b.cabinet-btn(href="#")
						+e.icon-wrap
							+icon("avatar")
						+e.text 
							+e.name Валентин Ковалентин
							+e.id #13405
						+icon("setting")
				else
					ul
						mixin a(i,t)
							li: +e.link(href="#")&attributes(attributes)
								+e.icon-wrap: +icon(i)
								+e.text= t
									block
						+a('shop',`Мои чат-боты`).active
						+a('star',`Тарифы`)
						+a('gift',`Акции`)
							.badge.bg-success скоро
						+a('currency-rub',`Кабинет партнера`)
						+a('faqs',`Техподдержка`)
						+a('book',`База знаний`)
						+a('document',`API`)
							.badge.bg-success скоро
						+a('newspaper',`Блог`)
							.badge.bg-success скоро
					+b.cabinet-btn(href="#")
						+e.icon-wrap
							+icon("avatar")
						+e.text 
							+e.name Валентин Ковалентин
							+e.id #13405
						+icon("setting")

mixin main(t='Мои чат-боты', badge, avatar, mailingList, hide, save)
	.main-center-wrap
		main
			+topLine(t, badge, avatar, mailingList)
			.container-fluid.container-main
				block
			if !hide
				+footer()
			if save
				.save: .btn.btn-orange(href='#') Сохранить изменения

mixin chat-item(t, btn, a)
	.col-xl-3.col-sm-6
		+b.chat-item
			+e.head.row
				.col.text-start
					+e.tooltip( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="Вы владелец этого чат-бота")
						+icon("check_star") 
				.col-auto.text-end.small
					div Тариф Start
					if a
						a(href="#").strong.small Включить
					else
						.strong.small(style="color: var(--bs-success)") Активен
			+e.body
				block
			+e.footer
				.strong= t
				a(href="#").strong @prahacafebot
			+e.btn-wrap
				if btn == 'btn-primary'
					+e.btn.btn(href="#").btn-success 1 новый заказ
				else
					+e.btn.btn(href="#").btn-success.disabled Новых заказов нет
					+e.btn.btn(href="#").btn-primary Перейти
mixin chat-items()
	.row.gy-md-4.gy-3
			
			+chat-item('Прага | Доставка ❤️','', 'a') 
				a(href="#").btn.btn-center   
					img(src="img/svg/praga.png", alt="")
			+chat-item('ЕДРЁН-БАТОН Доставка | Уфа 🥖','btn-primary')
				a(href="#").btn.btn-center
					img(src="img/svg/bgr.png", alt="")
			+chat-item('Сантоку Доставка | Сочи 🍣')
				a(href="#" style="--bs-btn-bg:#6F64EC; --bs-btn-color: #fff; --bs-btn-hover-color: #fff; --bs-btn-hover-bg:#6F64EC").btn.btn-center  С
			+chat-item('Прага | Доставка ❤️')
				a(href="#").btn.btn-center   
					img(src="img/svg/praga.png", alt="")
			.col-xl-3.col-sm-6
				+b.chat-item--add-chart
					+e.center
						a(href="#").btn.btn-orange.btn-center  +
						.strong Создать чат-бота


mixin gr(t)
	+e.group&attributes(attributes)
		if t
			+e.group-title= t
		block

mixin save-alert()
	+b.save-alert
			+icon("square_checked")
			.small.strong Изменения сохранены
			+e.close
				+icon('close')
			+e.progress

mixin qrCode()
	+b.qr-code
		+e.row.row
			.col-sm-auto
				+e.wrap
					+img('img/qr-code.png')
			.col-sm
				+e.content
					+e.title Получайте уведомления в телеграм
					p QR код для авторизации в администраторском чат-боте ChatFood для получения уведомлений о новых заказах в телеграм.
					a(href="#") @ChatFoodrubot

mixin orderCard(title="Прага-Бургер", isSwitch=true)
	+b.order-card.card
		+e.row.row
			.col
				+e.rate
					+icon('stars')
					| 4.7
				+e.orders 35 заказов
			.col-auto
				+img('img/food.jpg')
		+e.info
			+e.food 🥗 Салаты
			a(href="#")!= title
			+e.type 1350 -13350 ₽
		.row.align-items-center
			if isSwitch
				.col
					label.form-check.form-switch
						input.form-check-input(name='model' type='checkbox' role='switch')
						.form-check-label Видимость
			+e.tooltips.col-auto
				.row.gx-2.align-items-center
					a(href="#").col-auto
						+e.tooltip( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="Копировать")
							+icon('copy')
					a(href="#").col-auto
						+e.tooltip( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="Редактировать")
							+icon('edit')
					a(href="#").col-auto
						+e.tooltip( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="Удалить")
							+icon('delete')
					.d-sm-none.col-auto
						+e.sort(href="#").drop-top-js
							+icon('chevron-up')
					.d-sm-none.col-auto.ps-0.drop-down-js
						+e.sort(href="#")
							+icon('chevron-down')


mixin link-block(v='https://chatfood.ru/?p=324')
	+b.link-block
		+e.INPUT.copy-text(type="text" value= v readonly)
		+e.icon-wrap
			+icon('copy')
			+icon('check')
		//- +e.icon-wrap

mixin table()
	+b.tariffs
		table
			thead
				tr
					th
						.tariffs-item
					mixin item(title, price, badge, discount, dayPrice, perOne, otherModal)
						th
							+b.tariffs-item
								+e.title
									!= title
								+e.price
									!= price
									if badge
										.badge.bg-warning –10%
								if discount
									+e.discount!= discount
								if dayPrice
									+e.price-day!= dayPrice
								if perOne
									p За одного чат-бота
								+e.btn.btn.btn-success(href=(otherModal ? '#modal-tarif2' : "modal-tarif3")).link-modal-js  Выбрать

					+item(`Бесплатный`, `0 ₽`, '', 'Бесплатно навсегда')
					+item(`🔥 Старт`, `6 273 ₽`, true, `Без скидки <span>6 973 ₽</span>`, '3 440 ₽', true, true)
					+item(`😎 Стандарт`, `8 696 ₽`, true, `Без скидки <span>9 665 ₽</span>`, `3 440 ₽`, true)
					+item(`💣 Профи`, `10 634 ₽`, true, `Без скидки <span>11 819 ₽</span>`, '3 440 ₽', true)
			tbody
				tr
					td: +e.wrap
						+e.title.fw-bold
							| Количество товаров
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap до&nbsp;150
					td: +e.wrap до&nbsp;300
					td: +e.wrap до&nbsp;100
					td: +e.wrap без лимита
				tr
					td: +e.wrap 
						+e.title.fw-bold
							| Кастомизация бота
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap 
						+e.title.fw-bold
							| Точки продаж
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap 1
					td: +e.wrap 1
					td: +e.wrap 1
					td: +e.wrap 1
				tr
					td: +e.wrap.fw-bold Контактная информация в боте
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Телефон, сайт, email
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Социальные сети
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Местоположение на карте
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Режим работы
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Способы оплаты заказа
					td: +e.wrap: +img('img/svg/corret.svg').d-md-none
					td: +e.wrap: +img('img/svg/corret.svg').d-md-none
					td: +e.wrap: +img('img/svg/corret.svg').d-md-none
					td: +e.wrap: +img('img/svg/corret.svg').d-md-none
				tr
					td: +e.wrap Онлайн
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Наличные
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Картой при получении
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Настройка способов получения заказа
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Доставка
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Самовывоз
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap В заведении
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Настройка способов доставки
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Бесплатная доставка
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Фиксированная стоимость доставки
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap
						+e.title
							| Расчет по формуле
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Минимальная сумма для бесплатной доставки
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap
						+e.title.fw-bold
							| Настройка управляющих пользователей
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Добавление администраторов
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Разграничение ролей
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap
						+e.title
							| Количество управляющих пользователей
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap 1
					td: +e.wrap 3
					td: +e.wrap 5
					td: +e.wrap 10
				tr
					td: +e.wrap.fw-bold Бонусная программа
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Приветственные бонусы
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Кэшбек за обратную связь
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Бонус за приглашение
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Ручное начисление бонусов
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Настройка условий оплаты бонусами
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Рассылки
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Функционал рассылки
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap
						+e.title
							| Количество рассылок
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap 0
					td: +e.wrap 4
					td: +e.wrap 8
					td: +e.wrap 15
				tr
					td: +e.wrap.fw-bold Аналитика
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Количество клиентов в базе
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Сумма заказов
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Количество заказов
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Активность за сегодня
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Категории и товары
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Количество категорий
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Количество товаров
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Создание категорий товаров
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Создание простого товара
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Создание вриантивного товара
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Настройка дополнительных опций
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Стоп-лист товаров
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold API
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				